<div class="container main" style="box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
">
    <div class="jumbotron">
        <h1 class="text-center">Employee Directory</h1>
        
      </div>
  <app-epm-list></app-epm-list>
</div>
<div class="container weather" style="border: 1px solid #89ceb4; margin: 30px auto;">
    <div class="jumbotron">
        <h1 class="text-center">Weather Forecast</h1>
        
      </div>
  <app-weather></app-weather>
</div>


<router-outlet></router-outlet>
